body {
    margin: 0px 0px 0px 0px;
    background-color: #03001C;
    color: #e3e3e3;
    color: #f9f9f9;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;

    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(48, 30, 103, 1) 60%);
    min-height: 100vh;
    user-select: none;
}



.logo {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 1.5px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.centerGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.leftGrid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
}

.leftGrid>img {
    height: 60px;
    margin-right: 5px;

}

.tab {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #585563;
    margin: 30px;
}

.tab:hover {
    cursor: pointer;
    border: 1px solid #88d3b5;
    color: #D4E9E0;


}

.nav-background {
    margin: 0px 0px 0px 0px;
    display: grid;
    grid-template-columns: [left] 20% [center-left] 60% [center-right] 20% [right];
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: rgb(91, 143, 185);

    /* border-bottom: 1px solid #585563; */

    /* background: rgb(91, 143, 185);
    background: linear-gradient(180deg, rgba(91, 143, 185, 1) 43%, rgba(136, 211, 181, 1) 100%); */
}

.centerGrid>ul {
    display: flex;
    flex-direction: row;
    gap: 2px;
    list-style-type: none;




}

.rightGrid {

    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

.rightGrid>ul {
    /* display: flex;
    flex-direction: row;
    gap: 2px;
    list-style-type: none; */


}

.centerGrid>ul>li {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 16px
}

.centerGrid>ul>li:hover {
    cursor: pointer;
    color: #88d3b5
}

.selected {

    background-color: #224E75
        /* background: rgb(48, 30, 103);
    background: linear-gradient(180deg, rgba(48, 30, 103, 1) 71%, rgba(28, 18, 59, 1) 100%); */
}



.background {
    min-height: 650px;


    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;

    flex-direction: column;

}

.component {

    /* height: 700px; */
    /* border: solid 1px white; */
    /* background-color: black; */

}

/* timeline */
.timelineComponent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.graph {
    width: 1125px;
    /* margin-top: 50px; */
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;

    /* background-color: blue; */
}

.graph>h1 {
    margin: 0px;
    font-size: 50px
}

.graph-line {
    height: 7px;
    margin: 20px;
    width: 900px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: visible;
    position: relative;
    z-index: 1;
}

.hatch {
    width: 2.5px;
    height: 60px;
    background-color: white;
    z-index: 0;
    border-radius: 5px;

    position: absolute;
}

.ruler {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    /* height: 100px; */
    display: grid;
    grid-template-columns: [left] 20% [middle] 20% [right] 20% [righter] 20% [center] 20% [end]
}

.rulerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin: 0px 0px 0px 0px;
    /* padding-bottom: 0px; */
    /* background-color: blue; */
}


.timestamp {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
}



.graph-node {
    /* margin-left: calc(50% - 15px); */
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: orange;
    position: absolute;
    cursor: pointer;
    transition-duration: 100ms;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0, 20%))
}

.graph-node:hover {
    scale: 3;
    transition-duration: 100ms;
    z-index: 4
}

#cascade {
    background-color: crimson !important;
    margin-top: -25px;
    scale: .8
}

#cascade:hover {
    margin-top: -60px;
    scale: 3 !important;
    transition-duration: 100ms !important;
    z-index: 4 !important
}

.toolbar {
    background-color: rgb(91, 143, 185);
    ;
    /* color: rgba(48, 30, 103, 1); */

    margin: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    /* width: 1000px; */
}

.toolbarSpan {
    font-weight: 500;
    font-size: 15px;
    color: white;

}

.toolbarInputs {
    padding: 20px;
    width: 350px;
    display: grid;
    grid-template-columns: [left] 140px [center] 210px [right];
    gap: 5px;

}

.toolbarInputs>input,
select {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    border: none;
    border-bottom: 1px solid #5380a6;
    color: white;
    font-size: 15px;
    background-color: rgb(91, 143, 185);

    /* border: none;
    border-bottom: 1px solid black; */
    /* border-radius: 15px;
    border: 1px solid black;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px; */
}







label {
    color: black;
}

.timelineButtonSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 20px;
    /* margin-bottom: 50px; */
}



.timelineButton {
    height: 50px;
    width: 50px;
    border-radius: 23px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition-duration: 300ms;

}

.timelineButton:hover {
    background-color: #88d3b5;
    cursor: pointer;
    transition-duration: 300ms;

}


.description {

    width: 1000px;
    display: grid;
    grid-template-columns: [left] 15% [center] 85% [right];
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-top: 40px;

    /* overflow-x: auto;
    padding: 20px; */
}


.description>h3>span {
    font-weight: 300;

}

/* history */

.historyList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.historyContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.historyContainer:hover {
    cursor: pointer;
    background-color: lightsteelblue;


}

.historyHeader {
    font-weight: 600;
    width: 100%;
    display: grid;
    grid-template-columns: [left] 25% [left-center] 25% [center] 25% [right-center] 25% [right]
}

.historyBody {
    font-weight: 600;
    display: grid;
    grid-template-columns: [left] 15% [center] 85% [right];

}

.historyBody>p>span {
    font-weight: 300;

}